:root {
    --white1: #ffffff;
    --black1: #000000;
    --green1: #33ff00;
    --green2: #00ff33;
    --green3: #00ff66;
    --amber1: #ffb000;
    --amber2: #ffcc00;
    --grey1:  #282828;
    --grey2: rgb(17,24,39);

    --fg1: var(--green1);
    --fg2: var(--green2);
    --fg3: var(--green3);
/*
    --fg1: var(--amber1);
    --fg2: var(--amber2);
    --fg3: var(--amber2);
*/
    --bg1: var(--black1);
    --bg2: var(--grey1);
    --bg3: var(--grey2);
}


html {
    background-color: var(--bg1);
    color: var(--fg1);
    font-size: .75rem;
    line-height: 1.25rem;
    font-family: monospace;
}

.heading {
    margin: 0.5rem 0;
    padding-bottom: 0.25rem;
    border-bottom: 1px solid;
    border-color: var(--fg2);
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.box {
    padding: 0.5rem 1rem;
    width: 30rem;
    margin-bottom: 10px;
    border: 1px dashed;
    border-color: var(--fg2);
}

pre {
    padding: 0.5rem 0;
    overflow: auto;
    background-color: var(--bg2);
}

