html {
    background-color: rgb(17,24,39);
    background-color: black;
    color: rgb(229,231,235);
    font-size: .75rem;
    line-height: 1.25rem;
    1font-size: 1rem;
    1line-height: 1.25rem;
    font-family: monospace;
    1font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

h1 {
    margin: 0;
    font-weight: bold;
}
h2 {
    margin: 0.5rem 0;
    font-weight: bold;
    border-bottom: 1px solid;
    border-color: rgb(107,114,128);
    padding-bottom: 0.25rem;
    font-size: inherit;
    border-color: #33ff00;
}

.fg-light {
    color: #ffffff;
}
.fg-green1 {
    color: #33ff00;
}
.fg-green2 {
    color: #00ff33;
}
.fg-green3 {
    color: #00ff66;
}
.fg-amber {
    color: #ffb000;
}
.fg-amber2 {
    color: #ffcc00;
}
.bg-0 {
    background-color: #000000;
}
.bg-1 {
    background-color: #282828;
}
.box {
    1background-color: rgb(31,41,55);
    1color: rgb(229,231,235);
    padding: 0.5rem 1rem;
    width: 30rem;
    margin-bottom: 10px;
    border: 1px dashed;
}
.heading {
}

