:root {
    --white1: #ffffff;
    --black1: #000000;
    --black2: #272628;
    --black3: rgb(22, 24, 28);
    --green1: #33ff00;
    --green2: #00ff33;
    --green3: #00ff66;
    --amber1: #ffb000;
    --amber2: #ffcc00;
    --grey1:  #282828;
    --grey2: rgb(17,24,39);
    --blue2: #072f49;
    --blue3: #5da9d1;
    --blue4: #83cff6;

    --fg1: var(--blue3);
    --fg2: var(--green2);
    --fg3: var(--green3);
/*
    --fg1: var(--amber1);
    --fg2: var(--amber2);
    --fg3: var(--amber2);
*/
    --bg1: var(--black2);
    --bg2: var(--blue2);
    --bg3: var(--grey2);

    --border1: var(--blue3);
    --border2: var(--grey2);
}

html {
    font-size: .75rem;
    line-height: 1.25rem;
    font-family: monospace;
}
.dark1 {
    background-color: var(--black2);
    color: var(--white1);
}
.dark1 .box {
    background-color: var(--black3);
    border-color: var(--grey2);
}

.amber {
    background-color: var(--black2);
    color: var(--amber1);
}
.amber .box {
    background-color: var(--black3);
    border-color: var(--grey2);
}
.amber .shade {
    background-color: var(--black2);
    border-color: var(--grey2);
    color: var(--white1);
}
.amber pre {
    background-color: var(--black2);
    color: var(--white1);
}

.green {
    background-color: var(--black2);
    color: var(--green1);
}
.green .box {
    background-color: var(--black3);
    border-color: var(--grey2);
}
.green .shade {
    background-color: var(--black2);
    border-color: var(--grey2);
}
.green pre {
    background-color: var(--black2);
    color: var(--white1);
}

.blue {
    background-color: var(--black2);
    color: var(--blue3);
}
.blue .box {
    background-color: var(--blue2);
    border-color: var(--blue3);
}
.blue .shade {
    background-color: var(--black3);
    color: var(--blue3);
    border-color: var(--grey2);
}
.blue .heading{
    color: var(--blue4);
}
.blue pre {
    background-color: var(--black3);
    color: var(--blue3);
}

.heading {
    text-transform: uppercase;
    margin: 0.5rem 0;
    padding-bottom: 0.25rem;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.box {
    background-color: var(--bg2);
    padding: 0.5rem 1rem;
    width: 30rem;
    margin-bottom: 10px;
    border: 1px dashed;
    border: 1px solid;
    border-radius: 10px;
}

.shade {
    background-color: var(--shade1);
    color: var(--white1);
    border-color: var(--border2);
}

pre {
    padding: 0.5rem 0;
    overflow: auto;
}

.shadow {
    box-shadow: 4px 4px 10px #404040;
}

