*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --bg-color: #111827;
    --fg-color: #e5e7eb;;
    --border-color: #6b7280;
    --box-bg-color: #1f2937;
    --link-color: #83cff6;
    --input-bg-color: #282828;
    --input-fg-color: #e7e9ea;
}

.max-w-xs {max-width: 320px;}
.max-w-sm {max-width: 384px;}
.max-w-md {max-width: 448px;}
.max-w-lg {max-width: 512px;}
.max-w-xl {max-width: 576px;}
.max-w-2xl {max-width: 672px;}
.max-w-3xl {max-width: 768px;}
.max-w-4xl {max-width: 896px;}
.max-w-5xl {max-width: 1024px;}
.max-w-6xl {max-width: 1152px;}
.max-w-7xl {max-width: 1280px;}

.w-xs {width: 320px;}
.w-sm {width: 384px;}
.w-md {width: 448px;}
.w-lg {width: 512px;}
.w-xl {width: 576px;}
.w-2xl {width: 672px;}
.w-3xl {width: 768px;}
.w-4xl {width: 896px;}
.w-5xl {width: 1024px;}
.w-6xl {width: 1152px;}
.w-7xl {width: 1280px;}

.text-xs {font-size: 0.75rem; line-height: 1rem;}
.text-sm {font-size: 0.875rem; line-height: 1.25rem;}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
html {
    font-size: 14px;
    line-height: 1.5;
    font-size: 12px;
    line-height: 1.5;
    font-family: monospace;
    font-family: system-ui, Helvetica, Arial, sans-serif;

    background-color: var(--bg-color);
    color: var(--fg-color);
}
body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: var(--link-color);
}
.content {
    margin: 8px;
}
.heading {
    text-transform: uppercase;
    margin: 0.5rem 0;
    padding-bottom: 0.25rem;
    line-height: 1.2;
}
.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.pill {
    padding: 0.5rem 1.2rem;
    border-radius: 10px;
}
.titlebar {
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    display: flex;
    gap: 10px;

    border-color: var(--border-color);;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 0.25rem;
}
.titlebar .pill {
}
.titlebar > * {
    align-self: flex-end;
}
.titlebar h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
}
.box {
    padding: 0.5rem 1rem;
    background-color: var(--box-bg-color);
}
.box > .heading {
    border-color: var(--border-color);;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 0.25rem;
}
pre {
    padding: 0.5rem 1rem;
    overflow: auto;
}
.shadow {
    box-shadow: 4px 4px 10px #404040;
}
.row {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

.form_row {
    padding: 5px 0;
}
.form_action {
    padding: 5px 0;
    margin-top: 5px;
}
.label {
    display: block;
    margin-bottom: 4px;
    text-transform: uppercase;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.input {
    display: block;
    width: 100%;
    padding: 5px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    background-color: var(--input-bg-color);
    color: var(--input-fg-color);
    border: 1px solid var(--border-color);
}
input[type="text"].input, textarea.input {
    border-radius: 5px;
}
.button {
    padding: 2px 16px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 10px;
    border-width: 0;
}


